
.lk-navigation {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    
}

.lk-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lk-logo {
    width: 100px;
}

.lk-logo-mob {
    width: 100px;
}

.lk-logo-mob > img {
    max-width: 20% !important;
}

.nav {
    list-style: none;
    display: flex;
    font-family: 'Poppins', sans-serif;

}

.nav > li{
    margin-top: 0 !important;
    margin-right: 1.5rem;
    font-family: 'Poppins', sans-serif;

}

@media (max-width: 900px) {
    .lk-nav {
        display: none;
    }

    .lk-nav_open {
        display: block;
    }

    .nav {
        flex-direction: column;
        padding-bottom: 1.5rem;
    }

    .nav > li {
        margin-bottom:1rem;
    font-family: 'Poppins', sans-serif;
       
    }
}


/*  mobile navigation */
.nav_mob {
    position: absolute;
    z-index: 9999999999999;
    top: 0%;
    left: 0px;
    right: 0px;
    padding: 1rem;
}

.nav_card {
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.nav_content {
    padding: 0rem 1.5rem 0 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;

}

/* Header section */


.header_section {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    z-index: 999;
    margin-top: 5rem;
    color: black;
}

.header_heading {
    font-weight: 400;
    font-size: 7rem;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: black;

}

.header_para {
    font-weight: 400;
    font-size: 2.6rem;
    text-align: left;
    margin: 0 !important;
    margin-bottom: 2rem !important;
    font-family: 'Poppins', sans-serif;
    color: black;


}

@media (max-width: 768px) {
    .header_heading {
        font-size: 5rem;
    }
    
    .header_para {
        font-size: 2.3rem; 
    }

   
}

@media (max-width: 425px) {
    .header_heading {
        font-size: 4rem;
    }
    
    .header_para {
        font-size: 2rem; 
    }

    .btn-sub {
        font-size: 1.4rem;
    }

   

    
}


/* buttons */

.btn {
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.8rem;
}



.nav_open_icon {
    width: 4rem;
    height: auto;
    color: black;
    padding: 1rem;
    border-radius: 0.8rem;
}

.nav_close_icon {
    width: 4rem;
    height: auto;
    color: black;
    padding: 1rem;
    border-radius: 0.8rem;
}

.btn-sub {
    padding: 15px 30px;
    display: flex;
    align-items: flex-start;
    background-color: #D85461;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;

}

@media (max-width: 425px) {
   

    .btn-sub {
        font-size: 1.4rem;
    }
}
